
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignIn</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/signIn.css" rel="stylesheet" />
</head>
<body>
    <div>

        <div class="container">

            <div class="middle">
                <div class="col-md-12">

                    <form method="post" action="#" role="login">
                        <p style="color:white;">E-mail</p>
                        <input type="email" name="email" placeholder="Email" required class="form-control input-lg" value="mailtomassnaveen@gmail.com" /><br>
                        <p style="color:white;">Password</p>
                        <input type="password" class="form-control input-lg" id="password" placeholder="Password" required="" />
                        <span id="eye" style="display:none" data-click-state="1" class="glyphicon glyphicon-eye-open"></span>

                        <div class="process" style="display:none">
                            <p> </p>
                            <div class="progress">
                                <div id="bar" class="progress-bar progress-bar-danger progress-bar-striped active" style="width: 10%;">
                                    Poor 
                                </div>
                            </div>
                        </div>

                        <br><br>
                        <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        $("#password").keyup(function () {

            var value = $("#password").val();
            var strength = value.length;
            if (strength > 0) {
                $(".process").show();
                $("#bar").addClass("progress-bar-danger").html("poor");
                $("#eye").show();

                if (strength > 3) {
                    $("#bar").removeClass("progress-bar-danger").removeClass("progress-bar-success").addClass("progress-bar-warning").css("width", "30%").html("Weak ");
                } if (strength > 6) {
                    $("#bar").css("width", "60%").html("Medium").removeClass("progress-bar-success").addClass("progress-bar-warning");
                }
                if (strength > 12) {
                    $("#bar").removeClass("progress-bar-warning").addClass("progress-bar-success").css("width", "100%").html("Strong ");
                }

            } else {
                $("#bar").removeClass("progress-bar-warning").removeClass("progress-bar-success").addClass("progress-bar-danger").css("width", "10%").html("poor ");
                $("#eye").hide();
                $(".process").hide();
            }

        });

        $("#eye").click(function () {

            if ($(this).attr('data-click-state') == 1) {
                $(this).attr('data-click-state', 0).removeClass("glyphicon-eye-open").addClass("glyphicon-eye-close");
                $("#password").attr('type', 'text');

            } else {
                $(this).attr('data-click-state', 1).removeClass("glyphicon-eye-close").addClass("glyphicon-eye-open");
                $("#password").attr('type', 'password');

            }

        });

    });
</script>
